@import url("https://fonts.googleapis.com/css2?family=Assistant&family=Lato:ital,wght@0,700;1,300&family=Merriweather:wght@700&display=swap");

/* ALL PAGES */

h1 {
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 4em;
  text-align: center;
}

h2 {
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1.7em;
  font-style: italic;
  margin-bottom: 1em;
}

h3 {
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1em;
}

p {
  font-family: Assistant, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  font-weight: 400;
  font-size: 1em;
}

#content {
  width: 680px;
  margin: auto;
}

#topnav ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
}

#topnav a {
  text-decoration: none;
  font-family: Assistant, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  font-weight: 400;
  font-size: 1em;
}

ol {
  padding-left: 1em;
}

ol li {
  font-family: Assistant, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1em;
}

#logo {
  max-width: 5em;
}

footer {
  text-align: center;
  font-family: Merriweather, "Times New Roman", Times, serif;
  font-size: 0.7em;
  margin: 1em;
}

/* TARGET AUDIENCE */

#targetaudiencegrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5em;
}
/*go back and redo target audience grid with three columns and assign bios to cross two grid squares and photos to cross one so it's more equal.*/

/* TYPOGRAPHY */

#h1sample {
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 4em;
  text-align: center;
}

#h2sample {
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1.7em;
  font-style: italic;
}

#h3sample {
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1em;
}

#psample {
  font-family: Assistant, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  font-weight: 400;
  font-size: 1em;
}

#fineprintsample {
  text-align: center;
  font-family: Merriweather, "Times New Roman", Times, serif;
  font-size: 0.7em;
  margin: 1em;
}

/* COLOR SCHEME */

#colorschemegrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 8em);
  gap: 0.5em;
}

#dkbluesquare {
  background-color: #144891;
}

#yellowsquare {
  background-color: #f8f04b;
}

#ltbluesquare {
  background-color: #a3d5ff;
}

#blacksquare {
  background-color: black;


}

/* add tablet screen size */



/* add mobile screen size */

@media screen and (max-width: 700px) {
  #topnav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  ul {
    padding: 0;
    margin: 0 .2em;
  }

  #content {
    margin: auto;
    max-width: 100%;
  }

  #targetaudiencegrid {
    display: block;
  }

  #colorschemegrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
  
  #colorschemegrid p {
    margin: 0;
}

@media screen and (max-width: 360px) {

  #colorschemegrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
  }
  
  #topnav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

}