@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Rubik:wght@500&display=swap");

#content {
  font-size: 16px;
  line-height: 1.5;
  max-width: 700px;
  display: block;
  margin: auto;
}

header,
nav,
main,
footer {
  margin: 1.25rem auto;
}

header h1 {
  background-color: #441122;
  color: #dd88aa;
  padding: 40px;
  margin: 0;
  font-family: "Dancing Script", serif;
  font-size: 55px;
  padding-left: 30px;
}

nav {
  display: block;
  align-items: center;
  justify-items: center;
}

nav li {
  font-family: "Dancing Script", serif;
  list-style: none;
  font-size: 18px;
  color: #441122;
}

ul {
  padding-left: 30px;
}
nav li a {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
}
h2 {
  font-family: Rubik, sans-serif;
  color: #441122;
  padding-left: 30px;
  font-size: 30px;
}
figure img {
  width: 280px;
  height: auto;
}
figure {
  float: right;
  margin-top: -75px;
}
figcaption {
  font-size: 0.75em;
  margin-top: -8px;
  font-family: "Dancing Script", serif;
  color: #441122;
}
footer {
  background-color: #441122;
  color: #dd88aa;
  padding: 10px;
  text-align: center;
}
footer a:link {
  color: #624EF9;
}
