@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Open+Sans&display=swap");

/* CSS grid for main */

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 900px;
  gap: 1em;
  margin: auto auto;
  max-width: 660px;
}

header {
  border-radius: 0 0 15px 15px;
}

header,
footer {
  background-color: #002c38;
  text-align: center;
}

h1 {
  font-family: "Krona One", sans-serif;
  font-size: 1.5em;
  color: #ffda22;
  padding: 0.2em;
}

main div {
  background-color: #fffabf;
  border-radius: 15px;
}

h2 {
  background-color: #ffda22;
  border-radius: 15px 15px 0 0;
  text-align: center;
  margin: 0;
  padding: 0.25em;
  font-family: "Krona One", sans-serif;
  padding: 0.5em;
  color: #002c38;
  font-size: 1em;
}

h3 {
  margin: 0.5em;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 1em;
  color: #002c38;
}

/* resize the images to fit within the grid
I don't know how to get them to scale up and down as the screen width is adjusted. ):
Found it. Responsive design.
*/

.bodylink {
  text-align: center;
}

div img {
  width: 60%;
  max-width: 10em;
  height: auto;
  border: 0.5px solid #000;
  border-radius: 15px;
  margin: 1em auto;
  display: block;
}

/* add background so each column is visible. */

main a {
  text-align: center;
}

main a:visited {
  color: #257385;
}

main p,
main a {
  font-family: "Open Sans", sans-serif;
  color: #002c38;
  padding-left: 1em;
  padding-right: 1em;
}

p {
  text-align: left;
}

/* style the headings and pick google fonts to add to page. */

footer {
  margin-top: 1em;
  padding: 0.2em;
  color: #ffda22;
  border-radius: 15px 15px 0 0;
}

/* can't figure out how to align the photos center
add footer from portal page. change fonts for body copy */

footer a:link {
  color: #97cdda;
}

footer a:active {
  color: #ffda22;
}

footer a:visited {
  color: #fffabf;
}

/* 628px is when to switch to 2 columns.*/

@media screen and (max-width: 628px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 424px) {
  main {
    display: grid;
    grid-template-columns: 1fr;
  }
}
